<div class="row marketing">
        <% console.log(content); %>
     <% _.each(content.models , function( listItem ){ %>
        <% console.log(listItem); %>
        <h4><%=listItem.get("title") %></h4>
        <p><%=listItem.get("content") %></h4>
     <% }); %>
</div>
